{% include "includes/header.html" %}

<main>
    <div class="container">
        <h1>Flask Folders Structure | Bloosverd Group - Software</h1>
        <section class="text-container">
            <h2>FFS: Flask Folders Structure</h2>
            <p>FFS es una herramienta diseñada para simplificar la creación de la estructura de carpetas necesaria para trabajar con el micro-framework de Python, Flask. Con FFS, los usuarios pueden crear proyectos Flask de manera rápida y sencilla, eliminando la tediosa tarea de crear cada carpeta y archivo manualmente.</p>
            <br>
            <p>Con las carpetas y archivos esenciales, FFS permite a los desarrolladores comenzar a diseñar sus aplicaciones de manera más ágil y eficiente, ahorrando un valioso tiempo que, de lo contrario, se gastaría en tareas administrativas. Simplifica el proceso de configuración inicial para que puedas concentrarte en lo que realmente importa: desarrollar tu aplicación Flask.</p>
        </section>
    </div>
</main>

{% include "includes/footer.html" %}