<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='assets/logo/logo.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Flask Folders Structure | Bloosverd Group - Software</title>
</head>
    <header>
        <div class="container">
            <img class="logo" src="{{ url_for('static', filename='assets/logo/logo.png') }}" alt="Logo de Flask Folders Structure">
        </div>
    </header>